[2019-03-14 17:54] xenomachina opened #1 "The "Usage and Examples" link in the README is broken."
README.md contains:

    [Usage and Examples](...)

This link should probably go somewhere.

[2019-03-14 17:56] asdvalenzuela commented on #1
Thanks! Fixed :)

[2019-03-14 17:57] #1 closed

[2019-05-31 12:59] johnmphillips opened #3 "Spring Sleuth Integration"
We have some applications that have spring-sleuth integration for log correlation. We'd love to use honeycomb to instrument them also, but wouldn't want two sets of trace/spanID's floating around. Would it be possible to make the beeline sleuth-aware?

[2019-06-04 23:23] asdvalenzuela commented on #3
Hi John! I'd love to chat with you a bit more about this request, and will follow up via Intercom.

[2019-06-24 20:29] nathanleclaire opened #4 "Document @ChildSpan needing to be in another class"

[2019-06-24 20:29] nathanleclaire opened #5 "Document @ChildSpan needing to be in another class"

[2019-06-24 20:30] nathanleclaire opened #6 "Create startSpan API"
All this boilerplate to create a new span/trace is a bummer -

[code]

The other Beelines have a way to call `beeline.startSpan`, which will create a trace if one does not exist yet (and otherwise create a new child span), the Java Beeline is more manual today. Create a smoother API to `startTrace` all in one.

[2019-06-24 20:37] #4 closed

[2019-06-24 20:38] nathanleclaire opened #7 "Consider port to beeline.addField() which infers span away from span.addField()"

[2019-06-24 20:38] nathanleclaire commented on #7
The other Beelines usually do `beeline.add_field("key", "value")` but this one adds fields on spans directly

[2019-06-24 20:41] nathanleclaire opened #8 "Consider 'close' => 'send'"
What seems to be usually `close` method here is often called `span.Send()` in other beelines

[2019-06-24 20:51] toshok commented on #8
`close` is needed for the `AutoCloseable` interface.  Think of it as python's custom context manager stuff.

it could _call_ `send`, certainly.  but they don't have to be mutually exclusive.

[2019-06-24 22:00] nathanleclaire commented on #8
Ah, interesting. Good context, thanks.

[2019-06-25 19:36] wsargent opened #10 "[doc] try-with-resources closes span before calling catch / finally blocks"
In https://docs.honeycomb.io/getting-data-in/java/beeline/#installation-with-any-java-application there is an example that uses a try-with-resources block:

[code]

This is potentially dangerous, as a try-with-resources combined with a catch block will close the span before any catch or finally blocks get a chance to execute.

From https://github.com/Nike-Inc/wingtips#try_with_resources_warning

[2019-06-26 16:15] nathanleclaire opened #11 "Instrument HTTP clients to external services"
Request from customer: Generate spans automatically on external calls. More details coming later on specific packages etc.

[2019-06-27 16:14] nathanleclaire commented on #11
this is relevant for enabling tracing across internal services as well

[2019-07-01 16:36] eanakashima commented on #11
Looks like with Spring Boot v2 external HTTP calls should be instrumented automatically. Is the app you're looking at Spring Boot, or something else?

[2019-07-03 15:14] nathanleclaire commented on #11
Ah yea so as discussed offline, this is covered by `RestTemplate` autoinstrumentation, it just wasn't documented! Added https://docs.honeycomb.io/getting-data-in/java/beeline/#tracing-across-services-with-spring-boot-v2-beeline and I'd say we're good to close

[2019-07-03 15:15] nathanleclaire commented on #11
(I do wonder a bit if we might have an abstraction eventually for tracing HTTP requests from non-Spring Boot 2 services - but without a definite need for that right in front of us, punting on it seems highly justifiable)

[2019-08-20 21:23] nathanleclaire opened #12 "create beeline.Init() equivalent"
In the Beeline you have to set up a helper class like this to instantiate using it

[code]

Can we get a `beeline.Init()` type of function (as the Go Beeline has) which dramatically simplifies this instead?

[2019-08-20 21:32] #5 closed

[2019-09-10 17:50] eanakashima commented on #8
@nathanleclaire @toshok ok to close this? Or is there still work to do here?

[2019-09-10 22:25] nathanleclaire commented on #8
Isn't urgent imo.

[2019-09-11 17:58] asdvalenzuela commented on #6
resolved in https://github.com/honeycombio/beeline-java/pull/13

[2019-09-11 17:58] #6 closed

[2019-09-13 17:08] tredman opened #16 "Expose endTrace via DefaultBeeline"
Currently you have to call `getBeeline().getTracer()` on the DefaultBeeline instance to get the tracer and then call `endTrace` - we should make that easier.

[2019-09-17 00:32] #16 closed

[2019-09-17 23:15] nathanleclaire commented on #8
going to just close since it seems `close` is ok, just inconsistent with other beelines

[2019-09-17 23:15] #8 closed

[2019-09-27 22:28] nathanleclaire opened #18 "DefaultBeeline doesn't support good way to get trace propagated context"
I noticed in playing around with `DefaultBeeline` that there's no way to set the trace context (so that `trace.parent_id` etc. will be set correctly on a downstream request) using it.

That has to be set directly on the `SpanBuilder.Factory` using `setParentContext(...)`.

We should figure out a way (new constructor?) to integrate this to `DefaultBeeline`.

ping @tredman @asdvalenzuela

[2019-10-04 19:15] tomoNeoworks opened #19 "DefaultBeeline#close() is misleading"
The call to  [Tracer#endTrace()](https://github.com/honeycombio/beeline-java/blob/master/beeline-core/src/main/java/io/honeycomb/beeline/DefaultBeeline.java#L154) will only end the thread-local trace, i.e. the trace local to the thread that happened to call DefaultBeeline#close(). I think a reader may think that this is closing all traces, so may be misled.

If we look at the way the Spring Beelin

[2019-10-08 21:15] nathanleclaire commented on #19
`DefaultBeeline#endTrace` should do the trick, philosophical / API design questions aside.

[2019-11-04 20:34] #19 closed

[2019-11-22 23:14] nathanleclaire opened #25 "Beeline.startTrace(...) creating noop spans with empty context"
Given code like this:

[code]

One would expect it to start traces correctly but instead the empty context results in `NoopSpan`s. The `Beeline` expects an existing context e.g., from HTTP header. However, calling the underlying `Tracer` directly to generate the trace works after creating a span using the underlying `SpanBuilderFactory`:

[code]

The latter seems to be the expected API today - but

[2020-01-17 22:33] rkennedy-mode opened #26 "Change `com.github.spotbugs:spotbugs` dependency to optional"
The `com.github.spotbugs:spotbugs` dependency is not listed as `optional`, unlike the other SpotBugs dependencies (e.g. spotbugs-annotations). As a result, adding `beeline-java` as a dependency brings with it the `spotbugs` dependency.

This is triggering our Snyk scans, which are warning us about `spotbugs` being an LGPL 2.1 library. This in itself isn't a big deal, but surfaced that we, for some

[2020-01-17 23:14] #26 closed

[2020-01-24 21:57] emirose commented on #11
Hello! My team is using WebClient with SpringBoot. Because RestTemplate is supposed to get deprecated soon, it would be helpful to look at adding WebClient support as well.

[2020-01-24 22:21] irvingpop commented on #11
Reopening, heads up @paulosman

[2020-03-01 15:38] KaoruDev commented on #25
I started reading the code and was wondering how a `server` would not whether or not the trace in the request should not be sampled or not. For example, consider this scenario:

Given:
- A request hops from `mobile client` -> `API server` -> `Backend Server` -> `DB`

When:
- The `API server` receives a request and assigns creates a trace id of `trace_id_one`. Due to its sampling configurations, it

[2020-03-04 14:14] KaoruDev opened #29 "[Opinion] Setting sampleRate then calling sendPresample is confusing"
In `SendingSpan` we set the sample rate on the event but then call `Event#sendPresampled()`

https://github.com/honeycombio/beeline-java/blob/master/beeline-core/src/main/java/io/honeycomb/beeline/tracing/SendingSpan.java#L67

Seems confusing since `sendPresampled` ignores sampling rate, AFAIK

[2020-03-10 17:05] nathanleclaire opened #31 "No way to get ahold of Beeline for additional spans/tags in BeelineServletFilter?"
I can't figure out any way to get access to a `Beeline` when using https://github.com/honeycombio/beeline-java/blob/v1.1.0/beeline-core/src/main/java/io/honeycomb/beeline/tracing/propagation/BeelineServletFilter.java to create additional child spans and/or add custom fields

@paulosman @asdvalenzuela any ideas?

[2020-03-10 17:06] nathanleclaire commented on #31
Often in other beelines this is stashed on the request context. In Spring I know we use the DI system to inject it, but I'm not sure that's possible when using the generic servlet filter in Spring 1 or other systems. That's what I do [here](https://gist.github.com/nathanleclaire/05960f41504acc3f8b0c0682caaf9ad9#file-honeycombfilter-java-L43) for instance.

[2020-03-10 18:46] nathanleclaire opened #32 "Not easy to set user/pass in http proxy?"
`setProxy` takes in an `HttpHost` which doesn't seem to allow setting user/pass for basic auth

[2020-03-10 20:31] nathanleclaire commented on #32
ah, I forgot I added `CredentialsProvider` to libhoney. still confusing but possible at least

[2020-03-10 21:26] nathanleclaire opened #33 "DebugResponseObserver should be in core (or libhoney) not spring-boot-starter"
There are many cases where we might want a `DebugRepsonseObserver` that aren't Spring specific. It should be in the Beeline core or in libhoney-java itself

[2020-03-10 22:55] nathanleclaire commented on #32
incredibly overwrought but here's documentation how to do it if anyone stumbles across this issue in need later

[code]

[2020-03-10 22:55] #32 closed

[2020-03-10 22:58] nathanleclaire opened #34 "No AddFieldToTrace"
I couldn't find any equivalent at least. Would be nice to have a way to add a field to all spans in a trace, sometimes you just want to thread that stuff through everywhere.

[2020-03-11 20:09] nathanleclaire opened #35 "No way to continue instrumenting in concurrent stuff - traceRunnable, traceFunction"
I can't figure out any way (and I don't know that there is one) to continue doing `beeline.getTracer().startSpan`, `addField`, etc., within the concurrency abstractions that we have in `Tracer` (`traceRunnable`, `traceFunction`, etc). That's kinda a bummer cause sometimes I want to break off an async part of the trace but not have to go through all the hoopla to get a brand new `Beeline` or `Trace

[2020-03-12 15:02] nathanleclaire opened #36 "Don't add 'app.' to custom fields if already starting with 'app.'"

[2020-03-13 17:32] nathanleclaire opened #37 "MockBeeline?"
Might be a good idea to have a `MockBeeline` so that folks can jump into testing really easily. You can mock out a Beeline without _too_ much trouble today but you still have to know how to construct the chain of all the stuff, including what `startChildSpan` etc should return

[2020-03-19 20:06] #36 closed

[2020-03-19 20:25] paulosman opened #39 "Flapping Test"
[code]

[2020-03-19 21:45] paulosman commented on #34
Interestingly there's a `addTraceField` method in the `Span` class that stores the parameters in a separate field. It doesn't appear to propagate those fields to other spans in the trace however, so that may be where the bug is.

[2020-05-04 17:25] kvrhdn opened #40 "Disable Beeline if no write-key is provided (Spring Boot)"
Hi, I'm using the Spring Boot starter beeline. So far setting this up has been a breeze.

Since I don't want to check in the API key, I plan to inject the write-key using the environment variable `HONEYCOMB_BEELINE_WRITEKEY`.

Unfortunately, when we boot the application in CI we get this error:

[code]

This is caused by `BeelineProperties`, which has a not empty constraint on write-key: https://g

[2020-05-08 23:06] mveitas opened #41 "Autowiring of Beeline fails when honeycomb.beeline.enabled is set to false"
I recently ran into a scenario where I was attempting to inject the Beeline into a Spring Boot application that had the beeline disabled with `honeycomb.beeline.enabled: false` and failed to start. The application failed to start as it could not find any `Beeline` instance to inject properly.

`2020-05-08 18:47:44.529 [localhost-startStop-1] [] [] [] [] [] - ERROR o.s.b.w.e.tomcat.TomcatStarter -

[2020-05-14 00:33] kvrhdn opened #42 "Beeline does not capture errors consistenly"
We are using the Spring Boot beeline (`beeline-spring-boot-starter:1.1.0`) and we noticed that some events would not have a status code.

Digging a bit deeper lead us to conclude that requests that throw exceptions do not provide consistent fields:
- if the exception is captured by a `@ControllerAdvice` class we only get `response.status_code` but no `request.error` or `request.error_detail`
- if

[2020-05-22 21:55] AlexanderNZ opened #45 "Spring Boot 2.3.0 Compatibility"
Hi there,

Beeline currently works in my project with Spring Boot 2.2.6.
I'm using `implementation 'io.honeycomb.beeline:beeline-spring-boot-starter:1.1.0'`
When I update to 2.3.0, the project fails to run, and gives the following error:

`
2020-05-23 09:51:45.742 ERROR 6635 --- [  restartedMain] o.s.b.web.embedded.tomcat.TomcatStarter  : Error starting Tomcat context. Exception: org.springframewo

[2020-05-28 10:00] vgw-LeeCampbell commented on #34
I thought that this would make sense for marking a trace with an `isError` field.
Then my custom sampler could check that as as part of its sample alg.

However it appears that the TraceFields are passed as copies, so updating them on one span has no(?) affect on other spans in the trace.

With this in mind, I am not sure how Java users are doing the "sample 200s, but send all 400/500s" approach I

[2020-06-22 10:23] MysterAitch opened #48 "Non-compiling documentation sample code"
Hi,

Is intentional that the sample code does not compile when used as-is? _(linked and quoted below below)_

Specifically note that beeline and client are private static fields within `TracerSpans`, in addition to also creating an instance of `TracerSpans`.

It is within the "advanced" section, so it might just be that there's something I'm not yet aware of or familiar with as a Honeycomb novice!

[2020-07-06 09:46] MikeGoldsmith commented on #45
Hi @AlexanderNZ - sorry for the delay getting back to you. I've tried to reproduce and I'm not seeing the same behaviour.

Using Spring's [Getting Started guide](https://spring.io/guides/gs/spring-boot/#initial) and using the `/complete` app, I did the following:
- update `org.springframework.boot` to `2.3.0.RELEASE` in build.gradle
- add `implementation io.honeycomb.beeline:beeline-spring-boot-st

[2020-07-10 23:24] AlexanderNZ commented on #45
Hi @MikeGoldsmith,

The only variable that changed was the spring boot version but I'll take a second look and double-check that my honeycomb implementation is as 'by the book' as possible.

I'll let you know how I go. Super keen on the product and o11y, so very motivated to get this working again.

[2020-07-11 01:23] AlexanderNZ commented on #45
I've done a bit of digging.
So initially on upgrade, I get the following error.

`Exception: org.springframework.beans.factory.UnsatisfiedDependencyException. Message: Error creating bean with name 'io.honeycomb.beeline.spring.autoconfig.BeelineAutoconfig': Unsatisfied dependency expressed through field 'beelineHandlerInterceptor'`

There is a nested exception here, which indicates that a validato

[2020-07-13 10:53] MikeGoldsmith commented on #45
Hi @AlexanderNZ - I'm glad to hear you've been to re-add Honeycomb and you've found where the problem lies. I'll take a look through `beeline-java`s recent history to see if I can find the dependency change. At the very least it would be good to document the error and resolution for others who may see the same when upgrading.

Thanks again.

[2020-07-13 10:53] #45 closed

[2020-07-22 16:29] kvrhdn opened #55 "Spring Boot property 'honeycomb.beeline.jdbc.enabled' is not documented"
Just a small note: the property `honeycomb.beeline.jdbc.enabled` as used here:
https://github.com/honeycombio/beeline-java/blob/main/beeline-spring-boot-starter/src/main/java/io/honeycomb/beeline/spring/autoconfig/BeelineAutoconfig.java#L221

Is not mentioned `spring-configuration-metadata.json`
https://github.com/honeycombio/beeline-java/blob/main/beeline-spring-boot-sleuth-starter/src/main/resou

[2020-07-23 08:20] MikeGoldsmith commented on #55
Ah, thanks for the bug report. We'll get that fixed up ASAP.

[2020-08-07 22:21] osi opened #67 "Beeline Sleuth Autoconfig doesn't declare that it needs to be configured before Sleuth"
in `BeelineSleuthAutoconfig`, it should declare `@AutoConfigureBefore(TraceAutoConfiguration.class)` so that the `Reporter` is available for the trace autoconfig to pick up.

Without this, I'm seeing the Beeline Sleuth config happening after the Trace config, resulting in the reporter not being added to the tracer.

[2020-08-08 07:25] MikeGoldsmith commented on #67
Hi @osi - thanks for the bug report. We'll look into it shortly.

[2020-08-11 00:32] #67 closed

[2020-08-11 15:55] osi commented on #67
Thanks for merging the fix! Does this automatically kick off a new build to the central repo, or is that a manual process?

[2020-08-11 16:00] paulosman commented on #67
Thanks for the PR! That's a manual process for now. We'll aim to cut a release on Monday.

[2020-08-15 08:21] MikeGoldsmith opened #69 "Sleuth is not propagating span / trace IDs as expected"
Raised via tweeter: https://twitter.com/osi/status/1293688725789007872

Gist to show working span handler: https://gist.github.com/osi/a496506f36929c90d24712bbd0368a40

[2020-08-15 17:14] osi commented on #69
You're welcome to incorporate my changes back into the library. The current integration also drops the duration from Brave, calculating it again in a manner that's wrong (the below is from what I had put into the pollinators slack)

the gist is sufficient for my needs, but likely has room for improvement. one notable thing is somehow figuring out how to get the rate associated with the brave sampl

[2020-08-17 11:16] MikeGoldsmith commented on #69
Thanks for the help.
Would you like to contribute the changes yourself, or are you happy for me to crate the PR (I'll attribute the changes to you)?

[2020-08-17 15:49] osi commented on #69
You can take lead 😀

I've gotten it "good enough" for the moment for my immediate needs, and need to spend time on some other tasks before i can pour more time into this one.

[2020-08-17 15:50] MikeGoldsmith commented on #69
Sure, no problem. Thanks for the starter code 👍

[2020-08-17 17:13] #55 closed

[2020-08-27 06:19] 2ndalpha opened #76 "No serializer found for class org.postgresql.core.v3.replication.V3ReplicationProtocol"
`beeline-spring-boot-starter` version `1.3.0`

[code]

[2020-08-27 08:44] MikeGoldsmith commented on #76
Hi @2ndalpha

The FasterXML dependency was not been updated as part of the `1.3.0` release and has been consistent for a long time.

I have a couple of follow-up questions if you can help:
- Did you upgrade the beeline in an existing application or are you starting fresh?
- Does your application use FasterXml in it's dependency chain anywhere?
- Please can you share your pom.xml / gradle file, or

[2020-09-25 08:03] Hazz223 commented on #41
So, we had a similar issue where we wanted a NOOP version of Beeline when running locally.
Using Spring profiles, we create our own `NoopHoneyClient`, which is an extension of the `HoneyClient` class. We then replaced the `TransportClient` with our own (though there is a `ConsoleTransportClient` available, but we found it really noisy).

Here's an example of our configuration:
[code]
And our `Noop

[2020-10-02 06:54] babadofar opened #81 "Upgrade beeline-spring-boot-starter to 1.2.0 breaks"
Upgrading `beeline-spring-boot-starter` to version 1.2.0 breaks my applications with this error message.
I guess this is related to  net.ttddyy and JDBC instrumentation
Using Spring boot version 2.3.3.

[code]

[2020-10-05 13:09] MikeGoldsmith commented on #81
Hi @babadofar - thanks for raising the issue. I'll take a look and get back to you soon.

[2020-10-12 04:38] chaoyangnz opened #82 "How should I use honeycomb in a Java AWS lambda?"
It is not a Spring web application, just a vanilla Java application running in AWS Lambda.

when I am using honeycomb in a Java lambda, and found I have to close the client explicitly in each invocation. Otherwise, the root trace is missing in Honeycomb web UI.

If I reuse the client across multiple lambda runs, the JVM shutdown hook is never triggered, which further cause the event is missing.

W

[2020-10-13 12:26] MikeGoldsmith commented on #82
Hi @chaoyangnz  - thanks for raising the query.

Currently, the best way to use the beeline-line in an AWS lambda function is to instantiate and close the beeline to ensure all trace spans are sent to Honeycomb. This is because the flush action is internal and only called during close.

If it were possible to manually flush pending spans, the beeline instance could used across multiple lambda invo

[2020-10-15 10:12] chaoyangnz commented on #82
Thanks @MikeGoldsmith

Even I call the internal flush to submit all events in the queue, the last event is still missing. I looked into the source code, I think that is caused by the asyncHttpClient, which return a Future but never checked to make sure the response is received.

Currently my workaround is to wait several seconds after a lambda invocation so that there is enough time for honeycomb

[2020-10-16 11:13] MikeGoldsmith commented on #82
Thanks @chaoyangnz - I'll take a look at your suggestion of the future not completing correctly.

FYI we're planning on making the libhoney/beelines consistent by providing a public `flush()`. No timeline yet, but we're hopeful it won't be too long.

[2020-10-16 21:42] chaoyangnz commented on #82
Thanks. Hopefully, when I call the public ‘flush’, it can not only submit events in the batching queue but also make sure requests to honeycomb get responses. So after that, I am sure it is really a flush.

And feel free to close this issue

[2020-10-19 12:01] MikeGoldsmith commented on #82
I'll leave this open and tag it when we move forward with the flush PR 👍

[2020-10-25 13:47] mveitas commented on #41
I ended up adding the following configuration into a library that our applications can use so they don't need to worry about handling the beeline being null during local development or if the integration is disabled by setting `honeycomb.beeline.enabled` to `false`.

Is this something that would be worthwhile adding?

[code]

[2020-10-27 01:24] mveitas opened #88 "Support for Spring WebFlux"
Recently ran into an issue where some of our engineering teams are running Spring Webflux. The existing Beeline only supports servlet-based web applications.

[2020-10-27 21:20] plmaheu opened #89 "Are alternative sampling methods impossible to implement with beelines?"
I've been trying for a while to customize how sampling is done in a beeline but so far have been unsucessful. What I'd like to do basically is to modify sample rates depending of the root span, so information that is available at the start of the trace. However I can't achieve this because the sample rate is frozen deep in SpanBuilderFactory, there's no way to make it dynamic.

On one side I see d

[2020-10-28 01:47] mveitas commented on #89
This is something new that might help: https://github.com/honeycombio/refinery

[2020-10-28 20:39] plmaheu commented on #89
@mveitas Thanks for the link. It might be of use eventually but for the moment I'm more looking for a code solution. Adding more infra is something I'd rather avoid in the system I'm working on.

[2020-11-06 13:57] MikeGoldsmith commented on #88
Hi @mveitas - thanks for raising the issue. We'll look into if / when that is something we can support. I've created a ticket on our internal ticketing system to triage / investigate.

[2021-02-05 00:24] vreynolds commented on #3
We’re going to close this for now. Feel free to re-open if it’s still relevant.

[2021-02-05 00:24] #3 closed

[2021-02-05 01:01] vreynolds commented on #11
@emirose apologies for a lengthy silence. Is this still a relevant issue for your team?

[2021-02-05 01:03] vreynolds commented on #18
@nathanleclaire do you think this is something we should keep on our radar and investigate?

[2021-02-05 19:48] vreynolds commented on #25
We’re going to close this for now. Feel free to re-open if it’s still relevant.

[2021-02-05 19:48] #25 closed

[2021-02-05 23:25] vreynolds commented on #10
Thanks for raising @wsargent ! Example updated.

[2021-02-05 23:25] #10 closed

[2021-06-15 10:28] veryhappythings opened #129 "Spring Boot Starter ignores proxy settings"
The Spring Boot starter includes a default Transport bean https://github.com/honeycombio/beeline-java/blob/main/beeline-spring-boot-starter/src/main/java/io/honeycomb/beeline/spring/autoconfig/BeelineAutoconfig.java#L147 which, as you won't have a transport set up by the time you hit this, creates you a transport at boot time (to create the default honeycomb client here https://github.com/honeycom

[2021-06-22 01:43] dbarisicPinterest opened #131 "honeycombio"

[2021-06-22 10:44] #131 closed

[2021-09-27 18:54] vreynolds opened #157 "maven release not releasing"
Noticed on latest releaset 1.6.1, but it looks like we haven't had Maven artifacts since v1.6.0

The staged artifacts in Sonatype are missing signature files:
[code]

[2021-09-27 19:58] #157 closed

[2021-11-04 17:31] bdarfler opened #165 "Enable Beeline to simultaneously accept w3c and honeycomb propagation headers"
**Is your feature request related to a problem? Please describe.**

Currently, it's not possible to incrementally move a microservices architecture from the honeycomb propagation headers format to the w3c propagation headers format. This makes it difficult if not impossible for beeline customers with a large enough deployment to move towards interoperating with OpenTelemetry.

**Describe the solut

[2021-11-09 15:47] JamieDanielson commented on #82
We are not planning to add new features to the beeline, though any changes will be added into release notes. We are recommending the use of OpenTelemetry, and specifically our [Honeycomb OpenTelemetry Distribution for Java](https://github.com/honeycombio/honeycomb-opentelemetry-java).

We're going to close this issue but feel free to submit a new issue or request a re-open if this is still relevan

[2021-11-09 15:47] #82 closed

[2021-11-09 22:31] JamieDanielson commented on #18
We’re going to close this for now as there has been no recent activity. Feel free to request a re-open if it’s still relevant.

[2021-11-09 22:31] #18 closed

[2021-11-12 21:04] JamieDanielson commented on #11
We’re going to close this for now as there has been no recent activity. Feel free to request a re-open if it’s still relevant.

[2021-11-12 21:04] #11 closed

[2021-11-12 22:57] JamieDanielson commented on #76
We are closing this issue as there has been no recent activity. Feel free to request a re-open if this is still relevant.

[2021-11-12 22:57] #76 closed

[2021-11-17 19:30] bdarfler commented on #165
This may require us to change the beeline id generation to always be w3c compatible (e.g 16 bytes in hex)

[2021-12-09 21:46] vreynolds commented on #39
Haven't observed in recent builds

[2021-12-09 21:46] #39 closed

[2021-12-23 21:51] #165 closed

[2021-12-24 00:10] robbkidd opened #173 "Can't publish new spring-boot packages referencing the being-published beeline version."
Attempting to update the `beelineVersion` referenced by the spring-boot-sleuth-starter and spring-boot-starter packages to the version of the beeline being release causes the release to [fail the publish to Maven](https://app.circleci.com/pipelines/github/honeycombio/beeline-java/966/workflows/5776ebeb-8562-47fb-922f-7ce07a4c3500/jobs/3324). In the first run at releasing 1.7.0:

[code]

[2021-12-27 18:23] JamieDanielson commented on #173
Looks like this has likely never worked. The `publish_maven` step has passed on previous tags where `beelineVersion` was left untouched in starter poms, and failed on tags where `beelineVersion` was updated.

[2021-12-27 19:54] JamieDanielson commented on #29
Hello,

We will be closing this issue as it is a low priority for us. It is unlikely that we'll ever get to it, and so we'd like to set expectations accordingly.

As we enter 2022 Q1, we are trimming our OSS backlog. This is so that we can focus better on areas that are more aligned with the OpenTelemetry-focused direction of telemetry ingest for Honeycomb.

If this issue is important to you, plea

[2021-12-27 19:54] #29 closed

[2021-12-27 19:59] JamieDanielson commented on #33
Hello,

We will be closing this issue as it is a low priority for us. It is unlikely that we'll ever get to it, and so we'd like to set expectations accordingly.

As we enter 2022 Q1, we are trimming our OSS backlog. This is so that we can focus better on areas that are more aligned with the OpenTelemetry-focused direction of telemetry ingest for Honeycomb.

If this issue is important to you, plea

[2021-12-27 19:59] #33 closed

[2021-12-27 20:00] JamieDanielson commented on #34
Hello,

We will be closing this issue as it is a low priority for us. It is unlikely that we'll ever get to it, and so we'd like to set expectations accordingly.

As we enter 2022 Q1, we are trimming our OSS backlog. This is so that we can focus better on areas that are more aligned with the OpenTelemetry-focused direction of telemetry ingest for Honeycomb.

If this issue is important to you, plea

[2021-12-27 20:00] #34 closed

[2021-12-27 20:00] JamieDanielson commented on #35
Hello,

We will be closing this issue as it is a low priority for us. It is unlikely that we'll ever get to it, and so we'd like to set expectations accordingly.

As we enter 2022 Q1, we are trimming our OSS backlog. This is so that we can focus better on areas that are more aligned with the OpenTelemetry-focused direction of telemetry ingest for Honeycomb.

If this issue is important to you, plea

[2021-12-27 20:00] #35 closed

[2021-12-27 20:00] JamieDanielson commented on #37
Hello,

We will be closing this issue as it is a low priority for us. It is unlikely that we'll ever get to it, and so we'd like to set expectations accordingly.

As we enter 2022 Q1, we are trimming our OSS backlog. This is so that we can focus better on areas that are more aligned with the OpenTelemetry-focused direction of telemetry ingest for Honeycomb.

If this issue is important to you, plea

[2021-12-27 20:00] #37 closed

[2021-12-27 20:08] JamieDanielson commented on #40
Hello,

We will be closing this issue as it is a low priority for us. It is unlikely that we'll ever get to it, and so we'd like to set expectations accordingly.

As we enter 2022 Q1, we are trimming our OSS backlog. This is so that we can focus better on areas that are more aligned with the OpenTelemetry-focused direction of telemetry ingest for Honeycomb.

If this issue is important to you, plea

[2021-12-27 20:08] #40 closed

[2021-12-27 20:14] JamieDanielson commented on #41
Hello,

We will be closing this issue as it is a low priority for us. It is unlikely that we'll ever get to it, and so we'd like to set expectations accordingly.

As we enter 2022 Q1, we are trimming our OSS backlog. This is so that we can focus better on areas that are more aligned with the OpenTelemetry-focused direction of telemetry ingest for Honeycomb.

If this issue is important to you, plea

[2021-12-27 20:14] #41 closed

[2021-12-27 20:15] JamieDanielson commented on #69
Hello,

We will be closing this issue as it is a low priority for us. It is unlikely that we'll ever get to it, and so we'd like to set expectations accordingly.

As we enter 2022 Q1, we are trimming our OSS backlog. This is so that we can focus better on areas that are more aligned with the OpenTelemetry-focused direction of telemetry ingest for Honeycomb.

If this issue is important to you, plea

[2021-12-27 20:15] #69 closed

[2021-12-27 20:15] JamieDanielson commented on #81
Hello,

We will be closing this issue as it is a low priority for us. It is unlikely that we'll ever get to it, and so we'd like to set expectations accordingly.

As we enter 2022 Q1, we are trimming our OSS backlog. This is so that we can focus better on areas that are more aligned with the OpenTelemetry-focused direction of telemetry ingest for Honeycomb.

If this issue is important to you, plea

[2021-12-27 20:15] #81 closed

[2021-12-27 20:15] JamieDanielson commented on #88
Hello,

We will be closing this issue as it is a low priority for us. It is unlikely that we'll ever get to it, and so we'd like to set expectations accordingly.

As we enter 2022 Q1, we are trimming our OSS backlog. This is so that we can focus better on areas that are more aligned with the OpenTelemetry-focused direction of telemetry ingest for Honeycomb.

If this issue is important to you, plea

[2021-12-27 20:15] #88 closed

[2021-12-27 20:16] JamieDanielson commented on #89
Hello,

We will be closing this issue as it is a low priority for us. It is unlikely that we'll ever get to it, and so we'd like to set expectations accordingly.

As we enter 2022 Q1, we are trimming our OSS backlog. This is so that we can focus better on areas that are more aligned with the OpenTelemetry-focused direction of telemetry ingest for Honeycomb.

If this issue is important to you, plea

[2021-12-27 20:16] #89 closed

[2021-12-27 20:22] JamieDanielson commented on #31
Hello,

We will be closing this issue as it is a low priority for us. It is unlikely that we'll ever get to it, and so we'd like to set expectations accordingly.

As we enter 2022 Q1, we are trimming our OSS backlog. This is so that we can focus better on areas that are more aligned with the OpenTelemetry-focused direction of telemetry ingest for Honeycomb.

If this issue is important to you, plea

[2021-12-27 20:22] #31 closed

[2021-12-27 20:24] JamieDanielson commented on #129
Hello,

We will be closing this issue as it is a low priority for us. It is unlikely that we'll ever get to it, and so we'd like to set expectations accordingly.

As we enter 2022 Q1, we are trimming our OSS backlog. This is so that we can focus better on areas that are more aligned with the OpenTelemetry-focused direction of telemetry ingest for Honeycomb.

If this issue is important to you, plea

[2021-12-27 20:24] #129 closed

[2021-12-28 15:06] JamieDanielson commented on #173
Submitted a PR for maven-orb to use a newer maven dependency plugin [https://github.com/CircleCI-Public/maven-orb/pull/24](https://github.com/CircleCI-Public/maven-orb/pull/24). Once that is merged in we can use a newer version of the orb in the Circle config (currently at `circleci/maven@1.0.3`) and this should then work going forward.

If for any reason we need to publish beeline before a new or

[2021-12-28 20:50] vreynolds opened #175 "test"
test re-triage workflow

[2021-12-28 20:50] vreynolds commented on #175
hi

[2021-12-28 20:51] vreynolds commented on #175
meow

[2021-12-28 20:54] vreynolds commented on #175
iced

[2021-12-28 20:54] vreynolds commented on #175
bye

[2021-12-28 20:54] #175 closed

[2021-12-29 16:46] JamieDanielson commented on #48
Sorry for the delayed response! Hopefully you were able to get things sorted out - sounds like the missing piece was this block below, which is in docs now but we'll be further updating those docs a bit to help with clarity. We are focusing our efforts now on OpenTelemetry and have a Honeycomb Distribution for Java that you may be interested to try if you haven't already.

[code]

[2021-12-29 16:46] #48 closed

[2022-01-19 15:14] JamieDanielson commented on #173
PR merged in and new version available https://github.com/CircleCI-Public/maven-orb/pull/24#issuecomment-1016562501

next step: try out the new maven orb

[2022-01-19 21:48] #173 closed

[2022-01-27 11:02] kardashov opened #180 "Spring Boot 2.6.x application fails to start because of circular dependencies in BeelineAutoconfig"
After Spring Boot 2.5.x -> 2.6.2 upgrade application fails to start with following error message:

***************************
APPLICATION FAILED TO START
***************************
Description:
The dependencies of some of the beans in the application context form a cycle:
┌──->──┐
|  io.honeycomb.beeline.spring.autoconfig.BeelineAutoconfig (field private io.honeycomb.beeline.spring.beans.Beeline

[2022-01-28 15:42] seadub commented on #180
+1. The workaround works but is not acceptable long-term.

[2022-03-05 00:05] vreynolds opened #186 "Update for E&S"
**Is your feature request related to a problem? Please describe.**

Environments & Services are coming to Honeycomb. The beeline should be updated to support sending data to environments while maintaining backward compatibility. To achieve this, we will set dataset from service name, and provide appropriate warnings depending on environment vs. non-environment teams.

**Describe the solution you'd

[2022-03-15 18:54] #186 closed

[2022-03-18 16:20] giorgimode commented on #180
Facing the same issue. `spring.main.allow-circular-references=true` is a no-go for me

[2022-03-18 20:21] giorgimode commented on #180
Issue has been fixed by my PR above

[2022-03-18 21:43] vreynolds commented on #180
should be fixed in latest release: https://github.com/honeycombio/beeline-java/releases/tag/v1.7.1

[2022-03-18 21:43] #180 closed

[2022-04-21 09:11] giorgimode opened #201 "Spring Boot fails to configure Liquibase with Honeycomb for jdk17"
**Versions**

- Java: 17.0.2
- beeline-spring-boot-starter: 2.0.0
- liquibase: 4.9.1

**Steps to reproduce**

1. Start Spring Boot with liquibase and honeycomb enabled with java 17.  Following error is thrown

**Additional context**
After trying to trace the issue, I noticed when Honeycomb is enabled, LiquibaseAutoConfiguration autowires ProxyDataSource. When it's disabled, HikariDataSource is aut

[2022-04-25 16:02] MikeGoldsmith opened #202 "Categorize span types on send"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-04-26 19:26] #202 closed

[2022-04-27 09:36] giorgimode commented on #201
@robbkidd it's been working alright. I just upgraded Java from 11 to 17 and beeline-spring-boot-starter to the latest 2.0.0

[2022-05-06 13:22] giorgimode commented on #201
Hi @MikeGoldsmith, thanks for looking into it since this bug forces us to disable Honeycomb in our system for now.

[2022-05-06 13:58] MikeGoldsmith commented on #201
@giorgimode btw - you could disable JDBC instrumentation using the `honeycomb.beeline.jdbc.enabled=false` system property. It may help unblock you while we work on a permanent fix.

[2022-05-06 14:01] giorgimode commented on #201
@MikeGoldsmith that is helpful. Application starts up normally with that flag. Thanks.

[2022-05-20 15:40] robbkidd commented on #42
We’re going to close this for now from inactivity. Feel free to re-open if the issue described here is still relevant.

[2022-05-20 15:40] #42 closed

[2022-06-03 22:49] JamieDanielson commented on #201
Hi @giorgimode, we've done some research but have not found a great solution for this yet. This will remain on our backlog for review but it may be a while before we can get to it, as we are currently focusing our efforts on our [OpenTelemetry Distro for Java](https://github.com/honeycombio/honeycomb-opentelemetry-java). I just want to ensure we set appropriate expectations. We are also open to PR

[2022-06-06 09:31] giorgimode commented on #201
Thanks for the update, @JamieDanielson. For now I'll keep jdbc disabled

[2022-07-06 15:22] JamieDanielson commented on #201
Hello,

We are continuing to trim our OSS backlog. Upon further review of this issue, we are seeing that there is still that viable workaround of disabling the instrumentation. We are closing this issue as it is a low priority for us to fix. It is unlikely that we'll ever get to it, and so we'd like to set expectations accordingly.

[2022-07-06 15:22] #201 closed

[2022-07-07 07:30] giorgimode commented on #201
@JamieDanielson it's a shame that we're forced to disable jdbc instrumentation permanently. That's a big loss as observability goes. At least now I know. We'll look for alternatives

[2022-07-11 13:47] JamieDanielson commented on #201
Understood, disabling instrumentation is not an ideal long-term scenario. We do recommend switching from Beeline to OpenTelemetry, which is where our efforts are focused and where more community members are contributing. Our [Java Distro](https://github.com/honeycombio/honeycomb-opentelemetry-java) is intended to help streamline configuration, and uses the upstream agent and SDK. The OTel Java Age

[2022-07-11 13:56] giorgimode commented on #201
Thanks for the update. Are there any plans to provide spring honeycomb integration with opentelemetry? I cannot find any documentation so far.

[2022-07-11 16:08] JamieDanielson commented on #201
Sorry I'm not sure I understand what you mean by "spring honeycomb integration"? OpenTelemetry has instrumentation for Spring, and that telemetry can be [sent to Honeycomb](https://docs.honeycomb.io/getting-data-in/opentelemetry/java-distro/#automatic-instrumentation-with-the-opentelemetry-java-agent). Does it help to review the [spring examples](https://github.com/honeycombio/honeycomb-openteleme

[2022-07-11 16:14] giorgimode commented on #201
With `beeline-spring-boot-starter` dependency and adding few properties in Spring, you get full power of honeycomb. Would that kind of integration be added anytime soon?
But [this Java example ](https://github.com/honeycombio/honeycomb-opentelemetry-java/blob/main/examples/spring-sdk/src/main/java/io/honeycomb/examples/springbootsdk/Application.java)should suffice

[2022-07-11 18:19] robbkidd commented on #201
I love the phrase "full power of honeycomb" but I'm not certain what specific features or behavior you mean.

Honeycomb has a distribution of OpenTelemetry for Java that comes in two flavors: an **SDK** for manual instrumentation or a **Java Agent** (that includes the SDK) for auto- and manual instrumentation.

The Honeycomb distribution adds a few things to the upstream OpenTelemetry for Java:

*

[2022-07-12 07:05] giorgimode commented on #201
Auto-instrumentation is what I was looking for. My goal is to avoid polluting my source with tracing code as much as possible. Using an agent and environment variables accomplishes that. I can add aop for special cases but by default I'd rather rely on auto-instrumentation. It's much clearer now, thanks.

[2022-09-27 01:01] zhoudxnz opened #235 "How to upgrade beeline-core from 1.x to 2.x for a spring-boot application"
Hello,

I tried to upgrade beeline from 1.x to 2.x for our spring boot application (2.5.7). After bumping the version of beeling-spring-boot-starter to 2.1.0 in build.gradle,  I notice it pulls in beeline-core 1.6.1 instead of 2.1.0.

`implementation 'io.honeycomb.beeline:beeline-spring-boot-starter:2.1.0'`

https://github.com/honeycombio/beeline-java/blob/6ee618c29d01b6ae077b5f83ec40b0a80f725f9c/

[2022-09-27 09:22] MikeGoldsmith commented on #235
Hi @zhoudxnz - thanks for raising the issue.

There isn't specific reason why the spring boot package doesn't use the latest beeline. There are a few outstanding dependency updates that I'll work through and will update this package to latest beeline too.

[2022-09-30 08:47] MikeGoldsmith commented on #235
Sorry for delay, release PR is now up - I expect it to merge & release today.
- #249

[2022-09-30 12:24] #235 closed

[2022-09-30 12:38] MikeGoldsmith commented on #235
@zhoudxnz v2.1.1 has been released, which includes updating both the Spring Boot & Sleuth packages to use the latest beeline :+1